// variables
$messagebox-bg-color: $button-bg-color;
$messagebox-border-left: 6px solid $messagebox-bg-color;

$messagebox-alert-color: #f4c430;

blockquote {
  margin: $spacing-l 0;
  border: 2px solid $messagebox-bg-color;
  border-radius: calc( #{ $border-radius } / 2 );
  border-left: $messagebox-border-left;
  padding: $spacing-s;

  h1 {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 1.5rem;

    @include flexbox($alignItems: center, $gap: $spacing-s);
  }

  &.alert {
    border-color: $messagebox-alert-color;

  }

  p:last-of-type {
    margin-bottom: unset;
  }
}
